<!--
<div class="products">
  <h2>Products</h2>
  <input
    type="text"
    placeholder="Search products..."
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchChange($event)"
    class="form-control"
  />

  <div *ngFor="let product of filteredProducts" class="product">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <img [src]="product.imageUrl" alt="{{ product.name }}" width="150" />
    <br />
    <a [routerLink]="['/product', product._id]">View Details</a>
  </div>
  <div *ngIf="filteredProducts.length === 0" class="no-results">
    No products found.
  </div>
</div>


 -->
<div class="products">
  <h2>Products</h2>


<input
    type="text"
    placeholder="Search products..."
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchChange($event)"
    class="form-control"
  />
  <div *ngIf="!selectedProduct" class="product-list">
    <div *ngFor="let product of filteredProducts" class="product" (click)="selectProduct(product)">
    <img [src]="product.imageUrl" alt="{{ product.name }}" width="150" />
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p><strong>Price:</strong> ${{ product.price }}</p>
    </div>

    <div *ngIf="filteredProducts.length === 0" class="no-results">
      No products found.
    </div>
  </div>

  <app-product-detail
    *ngIf="selectedProduct"
    [product]="selectedProduct"
    (closeDetail)="onCloseDetail()">
  </app-product-detail>
</div>
